body {
    background-color: #f7f7f7;
}

.login {
    max-width: 300px;
    height: auto;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #f0f0f0;
}

.login input {
    border: none;
    background: #fff;
    font-family: Lato;
    font-weight: 700;
    display: block;
    height: 40px;
    outline: none;
    width: calc(100% - 24px);
    margin: auto;
    padding: 6px 12px 6px 12px;
}

.login input[type="text"],
.login input[type="password"] {
    border-bottom: 1px solid #cecece;
    margin-top: 10px;
    font-size: 1rem;
    color: #00aeef;
    font-size: 1rem;
}

.login button {
    width: 100%;
    border-radius: 5px;
    background: #ffffff;
    text-decoration: center;
    border: none;
    color: #00aeef;
    margin-top: 50px;
    padding-top: 14px;
    padding-bottom: 14px;
    outline: none;
    font-size: 1rem;
    border: 1px solid #00aeef;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.login button:hover {
    background-color: #00aeef;
    color: #ffffff;
}

.logo {
    text-align: center;
}

.logo img {
    width: 70%;
}

.divider {
    border-bottom: 1px solid #dadada;
    margin: 50px 0;
}

.light {
    color: #d5d5d5;
}

h2,
h3 {
    color: #00aeef !important;
    /*color: #215caa !important;*/
}

.link-font {
    font-size: 0.8rem;
    color: #c5c5c5;
}

.infos p {
    padding: 0 50px;
}

.top10 {
    margin-top: 10%;
}

.top15 {
    margin-top: 15%;
}

.logo-footer {
    width: 60px;
    opacity: 0.3;
}

.footer {
    border-top: 1px solid gainsboro;
    padding-top: 30px;
    margin-top: 10% !important;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #cecece;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #cecece;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #cecece;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #cecece;
}


.lnr{
    font-size: 3rem !important;
    
}